{% extends "base.html" %}

{% load widget_tweaks %}
{% block title %}Tworzenie postu{% endblock %}
{% block content_title %}New Post{% endblock %}
{% block content %}

     <form method="POST" class="post-form">{% csrf_token %}

         <fieldset>
             <div class="form-group">
                 <label class="bmd-label-floating">Post content</label>
                 {{ form.content|add_class:"form-control rounded-0 py-2"|append_attr:"placeholder: Text" }}
             </div>
         </fieldset>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
<br>

{% endblock %}
