{% extends 'guest/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}

    <form action="" method="post">

        <fieldset>
            <div class="form-group">
            <legend>{% trans "Reset Password" %}</legend>

            {% csrf_token %}
                <label class="control-label">Email</label>
                {{ form.email|add_class:"form-control"|attr:"placeholder:Email" }}
            </div>
        </fieldset>

        <input class="btn btn-primary" type="submit" value="{% trans "Send password" %}" />

    </form>

{% endblock %}